<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank of Henrique</title>
    <script src="https://unpkg.com/@hotwired/turbo@8.0.4/dist/turbo.es2017-umd.js"></script>
    <link rel="stylesheet" href="/static/css/base.css"> 
    <link rel="stylesheet" href="/static/css/header.css">  
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/signup.css">

</head>
<body>
    {% include 'sections/header.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'sections/footer.html' %}
</body>
</html>